# Node.js
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/

# React/Vite
dashboard/node_modules/
dashboard/dist/

# Prisma (opcional)
prisma/migrations/

# Docker
*.env
docker-compose.override.yml

# Banco de Dados
*.db
*.dump
pgdata/

# Logs
logs/
*.log

# IDEs
.vscode/
.idea/
*.swp
